<!DOCTYPE html>
<html>
    <head>
        <title>Сайт "портфолио" Попова Николая</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}">
        <script src="{{ url_for('static', filename = 'js/ajax.js') }}"></script>
        <style>
            .comment {
                box-shadow: 10px 10px 5px #888888;
            }

            textarea {
                width: 100%;
                height: 200px;
            }
        </style>
        <script>
            function onunload(){
                var now = new Date();
                var cookieName = "lastVisit=" + now.toString();
                var expires = "expires=" + (new Date(now.getFullYear() + 5, 0, 1)).toString();
                document.cookie = cookieName + ";" + expires;
                console.log("hello");
            }

            function onAjax(){
                var commentArea = document.getElementById("comment");
                var comment = commentArea.value;
                commentArea.value = '';
                ajax.post("/asynccomments", {comment: comment}, function() {});
            }
        </script>
    </head>
    <body id="body" onunload="onunload()">
        <div class="wrap">

            <div class="main">

                {% with active_num = 2%}
                    {% include "header.html" %}
                {% endwith %}

                <div class="col s3"></div>
                <div class="col s6">
                    Посещений сегодня:
                    {% for digit in today_visit %}
                        <img src="static\img\nums\{{ digit }}.jpg" alt="{{ digit }}" >
                    {% endfor %}
                </div>
                <br>

                <div class="col s3"></div>
                <div class="col s6">
                    Всего посещений:
                    {% for digit in total_visit %}
                        <img src="static\img\nums\{{ digit }}.jpg" alt="{{ digit }}">
                    {% endfor %}
                </div>
                <br>

                <div class="col s3"></div>
                <div class="col s6">
                    Всего визитов:
                    {% for digit in hits %}
                        <img src="static\img\nums\{{ digit }}.jpg" alt="{{ digit }}">
                    {% endfor %}
                </div>
                <br>

                <div class="col s3"></div>
                <div class="col s6">
                    Ваше последний визит на эту страницу:
                    {{ last_visit }}
                </div>
                <br>

                <div id="message-container">
                    {% for comment in cursor %}
                        <div class="col s3"></div>
                        <div class="col s6 comment">
                            {{ comment }}
                        </div>
                        <br>
                    {% endfor %}
                </div>

                <div class="col s3"></div>
                <div class="col s6">
                    <textarea id="comment"></textarea>
                    <button onclick="onAjax()">Отправить</button>
                </div>

            </div>

        </div>

        {% include "footer.html" %}
        <script>
            var timerId = setInterval(
                function(){
                    ajax.get("/asynccomments", {},
                        function(response) {
                            document.getElementById("message-container").innerHTML = response;
                        }
                    )
                 }, 100)
        </script>
    </body>
</html>