<div class="footer">

    <div class="col s3">
    </div>
    <div class="col s2">
            <h5>Контакты</h5>
            <ul>
                <li> <a href="mailto:col.popov2009@yandex.ru">col.popov2009@yandex.ru</a></li>
            </ul>
    </div>
    <div class="col s2">
            <h5>Социальные сети</h5>
            <ul>
                <li><a href="https://www.vk.com/polton"><img src="{{ url_for('static', filename = 'img/vk.png') }}" alt="VK"></a></li>
            </ul>
    </div>
    <div class="col s2">
            <h5>Учёба</h5>
            <ul>
                <li><a href="https://urfu.ru/ru/"><img src="{{ url_for('static', filename = 'img/urfu.png') }}" alt="УрФУ"></a></li>
                <li><a href="http://insma.urfu.ru/"><img src="{{ url_for('static', filename = 'img/insma.png') }}" alt="ИЕНиМ"></a></li>
            </ul>
    </div>
    <div class="col s3">
    </div>

</div>
<script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
