<!DOCTYPE html>
<html>
    <head>
        <title>Сайт "портфолио" Попова Николая</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}">
    </head>
    <body id="body">
        <div class="wrap">
        
            <div class="main">
                
                {% with active_num = 0%}
                    {% include "header.html" %}
                {% endwith %}

                <div class="clearfix">
                    <div class="col s3">
                    </div>
                    <div class="col s3">
                      <img src="{{ url_for('static', filename = 'img/jim-carrey.jpg') }}" style="width: 100%" class="card" alt='"Моё" фото'>
                    </div>
                    <div class="col s3">
                        <p class="card" style="padding: 5px 10px; background-color: #f1f1f1;">
                            Меня зовут Попов Николай Викторович<br>
                            Я студент <a href="https://urfu.ru/">УрФУ</a>, <a href="http://insma.urfu.ru/">ИЕНиМ</a><br>
                            Мой адрес электронной почты: <a href="mailto:col.popov2009@yandex.ru">col.popov2009@yandex.ru</a><br>
                            Страница в <a href="https://vk.com/polton">VK</a>
                        </p>
                    </div>
                    <div class="col s3">
                    </div>
                </div>
                
            </div>

        </div>
        
        {% include "footer.html" %}
    </body>
</html>